 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 #theme {
   display: none;
 }

 #theme:checked~.App {
   filter: invert(1);

 }

 .App {

   width: 100%;
   min-height: 100vh;
   background: white;
 }

 .main {
   /* margin: auto; */
   width: 100%;
 }


 /*_________AUTH_______*/
 @import url("./styles/auth.css");
 @import url("./styles/chat.css");
 @import url("./pages/post-page/posts.css");
 @import url("./pages/post-page/items//item.css");
 @import url("./components/home/header.css");
 @import url("./pages/post-page/form-post/style-form.css");
 @import 'antd/dist/antd.css'